@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
}

header img {
    max-width: 10rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li {
    transition: .4s all ease;
}

nav ul li:hover {
    color: #1db954;
    cursor: pointer;
    transform: scale(95%);
    transition: .4s all ease-in-out;
}

nav ul li:nth-child(4) {
    border: 1px solid #ffffff;
    height: 1.3rem;
}

#menu {
    display: none;
    opacity: 0;
}

#navbar_items_mobile {
    display: none;
    opacity: 0;
    position: absolute;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    gap: 1rem;
    background-image: url('/IMG/Spotify Clone/showcase.webp');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

main h1 {
    font-size: 64px
}

main p {
    font-size: 15px;
}

main button {
    border: none;
    background-color: #1db954;
    color: #ffffff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 6rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .4s all ease;
}

main button:hover {
    background-color: #1ed760;
    cursor: pointer;
    transform: scale(95%);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 4rem;
    gap: 3rem;
}

footer .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
}


.images_items {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.images_items img {
    max-width: 9rem;
    max-height: 2.5rem;
}

.footer_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.footer_section p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 15px;
}

.footer_items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

.footer_item {
    transition: all .2s ease;
    cursor: pointer;
}

.footer_item:hover {
    color: #1ed760;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social i {
    font-size: 26px;
    padding: .8rem;
    border-radius: 100%;
    background-color: #3b3b3b;
    cursor: pointer;
    transition: all .2s ease;
}

.social i:hover {
    color: #1ed760;
    transform: scale(95%);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;
}

.footer_info_items {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer_info_items li {
    list-style: none;
    font-weight: bold;
    color: #919496;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s ease;
}

.footer_info_items li:hover {
    color: #1ed760;
    transform: scale(95%);
}

.rights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .3rem;
    font-weight: bold;
    color: #919496;
    font-size: 16px
}

.country {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.country p {
    cursor: pointer;
    transition: all .2s ease;
}

.country p:hover {
    color: #1ed760;
    transform: scale(95%);
}

.img_brazil {
    width: 2rem;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
@media screen and (max-width: 1080px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-width: 100%;
        min-height: 6rem;
    }

    main h1 {
        font-size: 64px
    }

    main p {
        font-size: 15px;
    }

    footer {
        gap: 3rem;
    }

    footer .main {
        flex-direction: column;
        width: 100%;
    }


    .images_items {
        flex-direction: row;
    }

    .footer_items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .social {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 2rem;
    }

    .info {
        width: 100%;
    }

    .footer_info_items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .footer_info_items li {
        font-size: 12px;
    }

    .rights {
        font-size: 12px
    }
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

@media screen and (max-width: 715px) {
    header {
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.6);
        justify-content: space-around;
        align-items: center;
        min-width: 100%;
        height: 6rem;
        position: fixed;
        top: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    nav ul li:nth-child(4) {
        border: none
    }

    navbar_item {
        transition: .4s all ease;
    }

    navbar_item:hover {
        color: #1db954;
        cursor: pointer;
        transform: scale(95%);
        transition: .4s all ease-in-out;
    }

    #menu {
        display: block;
        opacity: 1;
        padding: 1rem;
        color: #ffffff;
    }

    #menu:hover+#navbar_items_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 30rem;
        padding: 1rem;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 1rem;
        opacity: 1;
    }

    main {
        gap: 1.5rem;
        padding: 1rem;
    }

    main h1 {
        font-size: 32px;
        text-align: center;

    }

    main p {
        font-size: 12px;
        text-align: center;
    }

    main button {
        font-size: 12px;
    }

    footer {
        padding: 3rem;
        gap: 3rem;
    }

    footer .main {
        width: 100%;
    }


    .images_items {
        flex-direction: column;
        gap: 3rem;
    }

    .footer_section {
        gap: 1rem;
        margin-top: 0;
    }

    .footer_items {
        gap: 1rem;
    }

    .social {
        gap: 1rem;
    }

    .social i {
        font-size: 16px;
    }

    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 1.5rem;
    }

    .footer_info_items li {
        font-size: 10px;
        flex-wrap: wrap-reverse;
    }

    .rights {
        font-size: 12px
    }
}
